<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{layout :: atlassianConnectResources}">
    <title>Atlassian Connect Spring Boot Thymeleaf Sample</title>
</head>
<body class="aui-page-hybrid">
<section id="content" role="main">
    <header class="aui-page-header">
        <div class="aui-page-header-inner">
            <div class="aui-page-header-main intro-header">
                <h1>Thymeleaf Sample</h1>
            </div>
        </div>
    </header>
    <div class="aui-page-panel main-panel">
        <div class="aui-page-panel-inner">
            <section class="aui-page-panel-item">
                <div class="aui-group">
                    <div class="aui-item">Hello, <span th:text="${#authentication.principal.userKey.get()}">User</span>!</div>
                </div>
                <div class="aui-group">
                    <div id="chart_div"
                        style="width: 600px; height: 310px;">No
                        data available.</div>
                    <script type="text/javascript"
                        src="https://www.gstatic.com/charts/loader.js"></script>
                    <script type="text/javascript" th:inline="javascript">
                    // Load the Visualization API and the corechart package.
                    google.charts .load( 'current', { 'packages' : [ 'corechart' ] });

                    // Set a callback to run when the Google Visualization API is loaded.
                    google.charts .setOnLoadCallback(drawChart);

                    // Callback that creates and populates a data table,
                    // instantiates the pie chart, passes in the data and
                    // draws it.
                    function drawChart() {
                        var cols = /*[[${data.cols}]]*/[
                                'Genre',
                                'Fantasy & Sci Fi',
                                'Romance',
                                'Mystery/Crime',
                                'General',
                                'Western',
                                'Literature' ];
                        var rows = /*[[${data.rows}]]*/[
                                [ '2010', 10, 24, 20, 32, 18, 5 ],
                                [ '2020', 16, 22, 23, 30, 16, 9 ],
                                [ '2030', 28, 19, 29, 30, 12, 13 ] ];

                        // Create the data table.
                        rows .unshift(cols);
                        var data = google.visualization .arrayToDataTable(rows);

                        // Set chart options
                        var options = {
                            'title' : '',
                            'width' : 600,
                            'height' : 300,
                            'isStacked' : true
                            };

                        // Instantiate and draw our chart, passing in some options.
                        var chart = new google.visualization.BarChart(
                                document .getElementById('chart_div'));
                        chart.draw( data, options);
                        }
                    </script>
                </div>
            </section>
        </div>
    </div>
</section>
</body>
</html>
